.nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

.nav li{
	float: left;
}

.nav li a{
	display: block;
	color: white;
	text-align: center;
	padding: 20px 25px;
	text-decoration: none;
}
.nav li a:hover{
	background-color: blue;
}
.active{
	background-color: green;
}

.action button{
	position: relative;
	width: 150px;
	height: 30px;
	background-color:tomato;
	color: white;
	border-radius: 10px;
	font-family: sans-serif;
	font-weight: bolder;
}
.action button:hover{
	cursor: pointer;
	background-color: green;
}
body{
	background:url("../img/city.jpg");
}

p{
	font-weight:bolder;
	font-style: italic;
	font-size: 20px;
}

li{
	font-size: 20px;
	font-weight: bold;
}

.logout
{
   position:relative;
   float:right;
   height: 60px;
   cursor: pointer;
   border-radius: 4px;
}

