body{
	
	background:url("../img/grey.jpg");
	

}

.items-filter{
	display: flex;
	padding:30px 0;
}

.items-filter h1{
	flex-grow: 1;
}

.sort{
	display: flex;
	align-self: flex-end;
}

.collection-sort{
	display: flex;
	flex-direction: column;
}

.items{
	display: flex;
	flex-wrap: wrap;
}
.items-card{
	display: flex;
	flex-direction: column;
	padding: 2%;
	flex:1 16%;

	box-shadow: 0px 0px 2px 0px black;
}

.items-image img{
	max-width: 100%;
}

.items-info{
	margin-top: auto;
	padding-top: 20px;
	text-align: center;
}

.items-info button{
	position: relative;
	width: 150px;
	height: 50px;
	background-color:blue;
	color: white;
	border-radius: 10px;
	font-family: sans-serif;
	font-weight: bolder;
}
.items-info button:hover{
	cursor: pointer;
}

@media(max-width: 920px){
	.items-card{
		flex: 1 21%;
	}
	.items .items-card:first-child,
	.items .items-card:nth-child(2){
		flex: 2 46%;
	}
}
body {
  padding-bottom: 20px;
}

.nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

.nav li{
	float: left;
}

.nav li a{
	display: block;
	color: white;
	text-align: center;
	padding: 20px 25px;
	text-decoration: none;
}
.nav li a:hover{
	background-color: blue;
}
.active{
	background-color: green;
}

h1{
	text-align: center;
	font-style:italic;
	color: grey;
}

.sg-form input[type="text"],input[type="number"]{
	height: 30px;
	max-width: 400px;
	width: 90%;
	line-height: 5em;
	font-family: sans-serif;
	margin: 1em ,2em;
	border-radius:5px;
	padding-left: 10px;
	border-color: blue;
}
.sg-form input[type="submit"]{
	height: 40px;
	width: 130px;
	background:blue;
	border:2px ;
	border-radius: 30px;
	color: white;
	font-family: sans-serif;
	cursor: pointer;
}

.fm{
	margin: 0 auto;
	max-width: 500px;
}

.snd{
	margin:5px 15px;
    font-size:1em;
	vertical-align:middle;
	border: 2px;
	border-radius: 15px;
	height: 50px;
}

.sales{
	margin: 0 auto;
	max-width: 500px;
	width: 300px;
    border: 25px solid black;
    padding: 30px;
    border-radius: 2em;
 
}

h4{
	text-align: center;
	font-size: 30px;
	font-style: italic;
	color:blue;
}

p{
	font-family: Gill Sans Extrabold, serif;
	font-style: bold;
	font-size: 25px;
	text-align: center;
}

