.items-filter{
	display: flex;
	padding:30px 0;
}

.items-filter h1{
	flex-grow: 1;
}

.sort{
	display: flex;
	align-self: flex-end;
}

.collection-sort{
	display: flex;
	flex-direction: column;
}

.items{
	display: flex;
	flex-wrap: wrap;
}
.items-card{
	display: flex;
	flex-direction: column;
	padding: 2%;
	flex:1 16%;

	box-shadow: 0px 0px 2px 0px black;
}

.items-image img{
	max-width: 100%;
}

.items-info{
	margin-top: auto;
	padding-top: 20px;
	text-align: center;
}

.items-info button{
	position: relative;
	width: 150px;
	height: 50px;
	background-color:#32cd32;
	color: white;
	border-radius: 10px;
	font-family: sans-serif;
	font-weight: bolder;
}
.items-info button:hover{
	cursor: pointer;
}

@media(max-width: 920px){
	.items-card{
		flex: 1 21%;
	}
	.items .items-card:first-child,
	.items .items-card:nth-child(2){
		flex: 2 46%;
	}
}
body {
  padding-bottom: 20px;
}

.nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

.nav li{
	float: left;
}

.nav li a{
	display: block;
	color: white;
	text-align: center;
	padding: 20px 25px;
	text-decoration: none;
}
.nav li a:hover{
	background-color: blue;
}
.active{
	background-color: green;
}

h1{
	text-align: center;
	font-style:italic;
	color: grey;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */

.search
{
   position:relative;
   float:right;
   height: 50px;
}

#pss{
	 box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
	 width: 25%;
	 background-color: orange;
    transition: 0.3s;
}
#pss:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
   
    background-color: #f2f2f2;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
.button:hover{
	cursor: pointer;
}
input[type=tel], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#product_id{
	background-color: #4CAF50;
	border-radius: 4px;
	width: 50%;
	cursor: pointer;

	} /* Green */

#product_id_del{
	background-color: #f44336;
	border-radius: 4px;
	width: 50%;
	cursor: pointer;
	} /* Red */ 

.msg {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    background-color:green;
    display: inline-block;
    margin: 0 0 0 10px;
    border-radius: 5px;
}
.del {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    max-height: 200px;
    margin: auto;
    text-align: center;
    background-color:red;
    display: block;
    margin: 0 0 0 15px;
    border-radius: 5px;
}