body h1{
	text-align: center;
	color: blue;
	font-size: 28px;
	font-style: italic;
}
.items-filter{
	display: flex;
	padding:30px 0;
}

.items-filter h1{
	flex-grow: 1;
}

.sort{
	display: flex;
	align-self: flex-end;
}

.collection-sort{
	display: flex;
	flex-direction: column;
}

.items{
	display: flex;
	flex-wrap: wrap;
}
.items-card{
	display: flex;
	flex-direction: column;
	padding: 2%;
	flex:1 16%;

	box-shadow: 0px 0px 2px 0px black;
}

.items-image img{
	max-width: 100%;
}

.items-info{
	margin-top: auto;
	padding-top: 20px;
	text-align: center;
}

.items-info button{
	position: relative;
	width: 150px;
	height: 50px;
	background-color:#32cd32;
	color: white;
	border-radius: 10px;
	font-family: sans-serif;
	font-weight: bolder;
}
.items-info button:hover{
	cursor: pointer;
}

@media(max-width: 920px){
	.items-card{
		flex: 1 21%;
	}
	.items .items-card:first-child,
	.items .items-card:nth-child(2){
		flex: 2 46%;
	}
}
body {
  padding-bottom: 20px;
}

.nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

.nav li{
	float: left;
}

.nav li a{
	display: block;
	color: white;
	text-align: center;
	padding: 20px 25px;
	text-decoration: none;
}
.nav li a:hover{
	background-color: blue;
}
.active{
	background-color: green;
}